<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
</head>
<body>
<h1>Đăng Nhập</h1>
<form action="/auth/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required>
    <p style="color: red;"><%= typeof message !== 'undefined' ? message : '' %></p>
    <button type="submit">Đăng Nhập</button>
</form>
</body>
</html>